/* General Card Styling */
.pet-card {
  
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
  width: 303px;
  height: 350px; /* Fixed height for uniformity */
  display: flex;
  flex-direction: column;
  cursor: pointer;
  }
  
  .pet-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
  }
  
  /* Card Image Styling */
  .pet-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 2px solid #eaeaea;
  }


.pet-carousel {
  max-height: 200px;
  overflow: hidden;
}
  

.card-subtitle {
    overflow: auto;
    height: 20px;
    color: #A5B68D;
}
  
 
  
  /* Location Text */
  .card-text {
    color: #A5B68D;
    margin-top: 0.5rem;
    font-size: 0.85rem;
  }
  
  /* Icons Row Styling */
  .icons-row {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    
  }
  
  .icon {
    color: #DA8359; /* Tomato color */
    font-size: 1.5rem;
  }
  
  /* Buttons (Share and Favorite) */
  .card-buttons button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  

  

  
  /* Ad Posted Date */
  .posted-date {
    font-size: 0.75rem;
    color: #A5B68D;
    text-align: right;
  }

  .card-body{
    
    height: 240px;
    align-content: space-around;
    bottom: 0; /* Stick to the bottom */
    width: 100%; /* Full width of the card */
    
    
  }
  