
.nutrition-list {
    padding: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}

.item-image {
    width: 100%;
    height: 150px;
    object-fit: contain; /* Ensures the image is fully visible without being cropped */
    border-radius: 8px;
}

.star-rating {
    font-size: 1.2rem;
    color: #f39c12; 
}

.star-rating .filled {
    color: #f39c12;
}

.star-rating .empty {
    color: #ddd; 
}

.star-rating span {
    cursor: pointer;
    transition: transform 0.2s ease;
}

.star-rating span:hover {
    transform: scale(1.2);
}


/* Notification Banner */
.notification-banner {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #A5B68D;
    color: white;
    padding: 20px 40px; /* Increased padding to make it bigger */
    border-radius: 5px;
    font-size: 20px; /* Increased font size */
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Cart Icon styles */
.cart-icon {
    font-size: 2rem;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #e67e22;
    color: white;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.cart-icon:hover {
    background-color: #d19c71;
}


.cart-modal {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.cart-modal.open {
    display: flex; 
}

.cart-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-height: 80%;
    overflow-y: auto;
}

.cart-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.cart-item p {
    margin: 0;
}

.cart-item-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
    margin-right: 15px;
}

.cart-item button {
    background-color: #e67e22;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}

.cart-item button:hover {
    background-color: #d19c71;
}

/* Cart Modal Footer */
.cart-modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.cart-modal-footer button {
    background-color: #e67e22;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cart-modal-footer button:hover {
    background-color: #d19c71;
}


.checkout-form {
    background-color: #fcf4f0;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

form label {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

form input, form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
}

form button {
    background-color: #d19c71;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #d19c71;
}

.checkout-success {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #A5B68D;
    color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
}

/* Checkout Modal */
.checkout-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.checkout-modal.open {
    display: flex;
}

.checkout-modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    max-height: 80%;
    overflow-y: auto;
}

.checkout-modal form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.checkout-modal input,
.checkout-modal select {
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.checkout-modal button {
    background-color: #e67e22;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.checkout-modal button:hover {
    background-color: #d19c71;
}


