.App {
  text-align: center;
}

/* 
.dog-card {
  border-radius: 10px;
  overflow: hidden;
}

.dog-image {
  height: 200px;
  object-fit: cover;
} */



.CardStyle{
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  justify-content: center;
  margin-top: 12%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
