.App {
  text-align: center;
}

/* 
.dog-card {
  border-radius: 10px;
  overflow: hidden;
}

.dog-image {
  height: 200px;
  object-fit: cover;
} */

.wishlist-page {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}


.CardStyle{
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  justify-content: center;
  margin-top: 12%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




body {
  background-image: url('https://img.freepik.com/free-vector/cartoon-style-paw-print-pattern-background-fauna-fun-vector_1017-47622.jpg?t=st=1733053309~exp=1733056909~hmac=d0658d5bd60a7aaf64ea31295daacf86135b9de1ee2796622edc9d5350a52ddd&w=2000');

}