.App {
  text-align: center;
}

/* 
.dog-card {
  border-radius: 10px;
  overflow: hidden;
}

.dog-image {
  height: 200px;
  object-fit: cover;
} */

.wishlist-page {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}


.CardStyle{
  display: flex;
  flex-wrap: wrap;
  gap: 44px;
  justify-content: center;
  margin-top: 12%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


html, body {

  min-height:100%; /* Ensures body expands dynamically */
}

body {
  background-image: url('https://img.freepik.com/free-vector/cute-animal-paw-print-pattern-background-fauna-fun_1017-44714.jpg?t=st=1732653300~exp=1732656900~hmac=d1570bb17ba1847f5fa9d99529dd720477475369722be2e3e05f8ca42e341fa5&w=2000');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: fit-content;
}